{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="m-2">{{trading_bot.name}}</h1>
      <h3 class="m-2 text-secondary">{{trading_bot.get_symbol()}}</h2>
      {% if is_running %}
      <td><span class="badge badge-pill badge-success mb-3">Running</span></td>
      {% else %}
      <td><span class="badge badge-pill badge-danger mb-3">Not Running</span></td>
      {% endif %}
    </div>
    <div class="col-md-6">
      <form method="post" action="{{ url_for('trading_bot.start_bot') }}" class="d-inline">
        <input type="hidden" id="id" name="id" value="{{trading_bot.id}}">
        <button type="submit" class="btn btn-primary m-2">Start</button>
      </form>
      <form method="post" action="{{ url_for('trading_bot.stop_bot') }}" class="d-inline">
        <input type="hidden" id="id" name="id" value="{{trading_bot.id}}">
        <button type="submit" class="btn btn-danger m-2">Stop</button>
      </form>

      <a href="{{ url_for('trading_bot.update_trading_bot', id=trading_bot.id) }}" class="btn btn-info m-2">Update
        Trading Bot</a>

      <form action="{{ url_for('trading_bot.download_csv', id=trading_bot.id) }}" method="get" class="d-inline">
        <button class="btn btn-warning m-2" type="submit">Download CSV</button>
      </form>

      <button id="backtestBtn" class="btn btn-secondary m-2" onclick="backtest()">Backtest</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Price:</h5>
          <p class="card-text"><span id="last_close"></span></p>
          <h5 class="card-title">BBU:</h5>
          <p class="card-text"><span id="last_bbu"></span></p>
          <h5 class="card-title">BBL:</h5>
          <p class="card-text"><span id="last_bbl"></span></p>
          <h5 class="card-title">RSI:</h5>
          <p class="card-text"><span id="last_rsi"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Trades:</h5>
          <p class="card-text"><span id="total_trades"></span></p>
          <h5 class="card-title">Last action:</h5>
          <p class="card-text"><span id="last_action"></span> at <span id="last_action_price"></span></p>
          <h5 class="card-title">Total Profit:</h5>
          <p class="card-text"><span id="total_profit"></span></p>
          <h5 class="card-title">Total Profit Percentage:</h5>
          <p class="card-text"><span id="total_profit_percentage"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="live-plot"></div>
<div id="rsi-plot"></div>

<!-- <div class="row mt-5 text-secondary">
  <div class="col text-center">
      <h1 class="display-5">Start the bot to see it's information here</h1>
  </div>
</div> -->

<script>

  var socket = io.connect('{{socket_url}}');

  socket.on("connect", function (data) {
    console.log("connected");
  });

  var rsiOversold = '{{trading_bot.rsi_oversold}}';
  var rsiOverbought = '{{trading_bot.rsi_overbought}}';

  socket.on("update_data_{{ trading_bot.id }}", function (data) {
    show_chart_data(data);
  });


  function backtest() {
    // Disable the button
    document.getElementById("backtestBtn").disabled = true;
    document.getElementById("backtestBtn").innerText = 'Backtesting...';

    // Emit backtest event to the server
    socket.emit('backtest', '{{trading_bot.id}}');
  }

  function show_chart_data(data) {
    // Enable the button
    document.getElementById("backtestBtn").disabled = false;
    document.getElementById("backtestBtn").innerText = 'Backtest';

    var last_signal = JSON.parse(data.last_signal);
    document.getElementById("last_bbu").innerHTML = Math.round(last_signal.BBU * 100) / 100;
    document.getElementById("last_close").innerHTML = Math.round(last_signal.close * 100) / 100;
    document.getElementById("last_bbl").innerHTML = Math.round(last_signal.BBL * 100) / 100;
    document.getElementById("last_rsi").innerHTML = Math.round(last_signal.RSI * 100) / 100;

    document.getElementById("last_action").innerHTML = data.last_action;
    document.getElementById("last_action_price").innerHTML = data.last_action_price;

    document.getElementById("total_trades").innerHTML = data.total_trades_count;
    document.getElementById("total_profit").innerHTML = data.total_profit;
    document.getElementById("total_profit_percentage").innerHTML = data.total_profit_percentage;

    var close_trace = {
      x: data.price_x_data,
      y: data.price_y_data,
      type: "scatter",
      name: "Price"
    };

    var bbu_trace = {
      x: data.bbl_bbu_x_data,
      y: data.bbu_y_data,
      type: "scatter",
      line: { dash: "dot", color: "LightCoral" },
      name: "BBU"
    };

    var bbl_trace = {
      x: data.bbl_bbu_x_data,
      y: data.bbl_y_data,
      type: "scatter",
      line: { dash: "dot", color: "DarkCyan" },
      name: "BBL"
    };


    var buy_signal_trace = {
      x: data.buy_signal_x_data,
      y: data.buy_signal_y_data,
      mode: 'markers',
      name: 'Buy',
      marker: {
        color: 'green',
        size: 12
      }
    };

    var sell_signal_trace = {
      x: data.sell_signal_x_data,
      y: data.sell_signal_y_data,
      mode: 'markers',
      name: 'SELL',
      marker: {
        color: 'red',
        size: 12
      }
    };


    var rsi_trace = {
      x: data.rsi_x_data,
      y: data.rsi_y_data,
      xaxis: 'x2',
      yaxis: 'y2',
      type: "scatter",
      line: { color: "DarkRed" },
      name: "RSI"
    };

    var layout = {
      height: 800,
      grid: {
        rows: 2,
        columns: 1,
        pattern: 'independent'
      },

      yaxis: {
        domain: [0.3, 1]
      },
      yaxis2: {
        domain: [0, 0.2],
        tickvals: [rsiOversold, 40, 50, 60, rsiOverbought],
        gridcolor: 'rgba(100, 100, 100, 0.5)'
      },
      xaxis2: {
        matches: 'x',
        showgrid: false
      }
    };

    Plotly.react("live-plot", [close_trace, bbu_trace, bbl_trace, buy_signal_trace, sell_signal_trace, rsi_trace], layout);
  }

</script>
{% endblock %}