<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.base_asset.label }} {{ form.base_asset(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.quote_asset.label }} {{ form.quote_asset(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.exchange_id.label }} 
        <select name="exchange_id" class="form-control">
            {% for value, label in form.exchange_id.choices %}
                {% if value == form.exchange_id.data %}
                    <option value="{{ value }}" selected>{{ label }}</option>
                {% else %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    
    
    <div class="form-group">
        {{ form.use_bollinger_bands.label }} {{ form.use_bollinger_bands() }}
    </div>
    <div class="form-group">
        {{ form.bollinger_bands_period.label }} {{ form.bollinger_bands_period(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.bollinger_bands_stddev.label }} {{ form.bollinger_bands_stddev(size=32, class="form-control") }}
    </div>
    

    <div class="form-group">
        {{ form.use_rsi.label }} {{ form.use_rsi() }}
    </div>
    <div class="form-group">
        {{ form.rsi_period.label }} {{ form.rsi_period(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.rsi_overbought.label }} {{ form.rsi_overbought(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.rsi_oversold.label }} {{ form.rsi_oversold(size=32, class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.trade_size.label }} {{ form.trade_size(size=32, class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
