{% extends 'base.html' %}
{% block content %}

<!-- <h3 class="mb-2">Trading Bots</h3> -->

<a href="{{ url_for('trading_bot.create_trading_bot') }}" class="btn btn-primary mb-2">Add TradingBot</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Is Running</th>
                <th>Trades Count</th>
                <th>Total Profit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trading_bot, trading_system in payload.bot_system_pairs %}
            <tr>
                <td>{{ trading_bot.name }}</td>
                <td>{{ trading_bot.symbol }}</td>
                {% if trading_system is none %}
                <td><span class="badge badge-pill badge-danger">Stopped</span></td>
                <td></td>
                <td></td>
                {% else %}
                <td><span class="badge badge-pill badge-success">Running</span></td>
                <td>{{ trading_system.trades_count }}</td>
                <td>{{ '{:.2f}'.format(trading_system.total_profit) }} ({{ '{:.2f}'.format(trading_system.total_profit_percentage) }}%)</td>
                {% endif %}
                <td>
                    <a href="{{ url_for('trading_bot.details', id=trading_bot.id) }}"
                        class="btn btn-sm btn-warning">Details</a>
                    <a href="{{ url_for('trading_bot.update_trading_bot', id=trading_bot.id) }}"
                        class="btn btn-sm btn-info">Update</a>
                    <form method="post" action="{{ url_for('trading_bot.delete_trading_bot', id=trading_bot.id) }}"
                        style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger"
                            onclick="return confirm('Are you sure you want to delete this trading_bot?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Display payload information -->
<div class="card mt-2">
    <div class="card-header">Total Information</div>
    <div class="card-body">
        <p>Running Bots Count: {{ payload.running_bots_count }}</p>
        <p>Total Trades Count: {{ payload.total_trades_count }}</p>
        <p>Total Profit: {{ "{:.2f}".format(payload.total_profit) }}</p>
    </div>
</div>

{% endblock %}