{% extends 'base.html' %}
{% block content %}

<!-- <h3 class="mb-2">Trading Bots</h3> -->

<a href="{{ url_for('trading_bot.create_trading_bot') }}" class="btn btn-primary mb-2">Add TradingBot</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Is Running</th>
                <th>Trades Count</th>
                <th>Total Profit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trading_bot, trading_system in payload.bot_system_pairs %}
            <tr>
                <td>{{ trading_bot.name }}</td>
                <td>{{ trading_bot.symbol }}</td>
                {% if trading_system is not none and trading_system.is_running %}
                <td><span class="badge badge-pill badge-success">Running</span></td>
                <td>{{ trading_system.trades_count }}</td>
                <td>{{ '{:.2f}'.format(trading_system.total_profit) }} ({{
                    '{:.2f}'.format(trading_system.total_profit_percentage) }}%)</td>
                {% else %}
                <td><span class="badge badge-pill badge-danger">Not Running</span></td>
                <td></td>
                <td></td>
                {% endif %}
                <td>
                    <a href="{{ url_for('trading_bot.details', id=trading_bot.id) }}"
                        class="btn btn-sm btn-warning">Details</a>
                    <a href="{{ url_for('trading_bot.update_trading_bot', id=trading_bot.id) }}"
                        class="btn btn-sm btn-info">Update</a>
                    <form method="post" action="{{ url_for('trading_bot.delete_trading_bot', id=trading_bot.id) }}"
                        style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger"
                            onclick="return confirm('Are you sure you want to delete this trading_bot?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th colspan="2"></th>
                <th>
                    <p>Count:
                        <span class="badge badge-pill badge-success">{{ payload.running_bots_count }}</span>
                        <span class="badge badge-pill badge-danger">{{ payload.not_running_bots_count }}</span>
                    </p>
                </th>
                <th>{{ payload.total_trades_count }}</th>
                <th>{{ "{:.2f}".format(payload.total_profit) }}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}