<!-- templates/livetest.html -->

{% extends 'base.html' %}

{% block title %}Live Data Page - My Website{% endblock %}

{% block content %}
    <h1>This is Live Data Page</h1>
    
    <div>
        <p>Status: {{ binance_manager_status }}</p>
        
        <form action="{{ url_for('livetest.start_binance_websocket') }}" method="get">
            <button type="submit" {% if binance_manager_status == 'Running' %}disabled{% endif %}>
                Start Binance WebSocket
            </button>
        </form>
        
        <form action="{{ url_for('livetest.stop_binance_websocket') }}" method="get">
            <button type="submit" {% if binance_manager_status == 'Stopped' %}disabled{% endif %}>
                Stop Binance WebSocket
            </button>
        </form>
    </div>
    

    <p>Total Trades: <span id="total_trades"></span></p>
    <p>Total Profit: <span id="total_profit"></span></p>
    <br/>

    
    <div id="live-plot"></div>
    
    <script>
        var socket = io.connect('{{socket_url}}');

        socket.on('connect', function(data) {
            console.log('connected')
        });

        socket.on('update_data', function(data) {
            console.log(data)
            document.getElementById('total_trades').innerHTML = data.total_trades_count;
            document.getElementById('total_profit').innerHTML = data.total_profit;

            var close_trace = {
                x: data.x_data,
                y: data.close,
                type: 'scatter'
            };

            var bbl_trace = {
                x: data.x_data,
                y: data.bbl,
                type: 'scatter',
                line: {dash: 'dot', color: 'blue'}
            };

            var bbu_trace = {
                x: data.x_data,
                y: data.bbu,
                type: 'scatter',
                line: {dash: 'dot', color: 'red'}
            };

            var layout = {
                title: 'Live Plot',
                xaxis: {title: 'X-axis'},
                yaxis: {title: 'Y-axis'}
            };

            Plotly.newPlot('live-plot', [close_trace, bbl_trace, bbu_trace], layout);
        });
        
    </script>
{% endblock %}
